@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  direction: rtl;
}

body {
  display: block;
  font-family: 'cairo', sans-serif;
}

body > .container {
  overflow: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul, li {
  list-style: none;
}

img {
  border: none;
}

input, textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.content {
  max-width: 1114px;
  margin: 0 auto;
  position: relative;
}

.page1 .background {
  background: url("../img/page1_bg.jpg") no-repeat center;
  background-size: cover;
}

.page1 .top {
  background: rgba(255, 255, 255, 0.4);
  padding: 15px 0;
}

.page1 .top .list li {
  display: inline-block;
  vertical-align: middle;
  font-size: 17px;
  color: white;
  font-weight: bold;
  padding-left: 62px;
  position: relative;
  letter-spacing: -1px;
  padding-right: 72px;
}

.page1 .top .list li:nth-of-type(2) {
  padding-left: 37px;
}

.page1 .top .list li:nth-of-type(3) {
  padding-left: 77px;
}

.page1 .top .list li:nth-of-type(1):before {
  content: '';
  background: url("../img/page1_icon.png");
  width: 44px;
  height: 23px;
  position: absolute;
  left: 7px;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}

.page1 .top .list li:nth-of-type(2):before {
  content: '';
  background: url("../img/page1_icon2.png");
  width: 34px;
  height: 34px;
  position: absolute;
  left: -4px;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}

.page1 .top .list li:nth-of-type(3):before {
  content: '';
  background: url("../img/page1_icon3.png");
  width: 72px;
  height: 19px;
  position: absolute;
  left: -6px;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}

.page1 .middle {
  font-size: 0;
}

.prod
{
  animation: animate 4s linear infinite;
}

@keyframes animate{
	0%,100%
	{
		transform: translateY(15px);
	}
	50%
	{
		transform: translateY(-15px);
	}
}

.page1 .middle .left,
.page1 .middle .right {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  position: relative;
  font-size: 1.5rem;
  z-index: 1;
}

.page1 .middle .left {
  padding: 77px 10px 40px 180px;
  width: 50%;
  text-align: right;
}

.page1 .middle .left h1 {
  background: -webkit-linear-gradient(#dbbd90, #b6996c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 64px;
  margin-bottom: 16px;
  position: relative;
  font-weight: 700;
  right: 4px;
}

.page1 .middle .left h2 {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
}

.page1 .middle .left h2 span {
  font-size: 27px;
  display: block;
}

.page1 .middle .left h2 font {
  color: #00dce6;
}

.page1 .middle .left .list {
  margin: 50px auto 65px;
}

.page1 .middle .left .list li {
  padding-right: 20px;
  position: relative;
  color: white;
  font-size: 17px;
  margin-bottom: 8px;
}

.page1 .middle .left .list li:before {
  content: '';
  width: 7px;
  height: 7px;
  background: #e2c496;
  position: absolute;
  right: 0;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 50%;

}

.page1 .middle {
  position: relative;
  text-align: left;
}

.page1 .middle .left .section {
  max-width: 366px;
  width: 100%;
  padding: 5px;
  border: 1px solid #dcbf93;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin: 20px 0;
  transition: .7s ease-in-out;
}

.page1 .middle .left .section:hover{
  box-shadow: 0 0 5px #36a3bb,
				0 0 25px #36a3bb,
				0 0 50px #36a3bb,
				0 0 200px #36a3bb;
  border: none;
}

.page1 .middle .left .section span {
  display: block;
  color: #e2c496 ;
}

.page1 .middle .right {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 120px 19% 0 0;
  width: 50%;
}

.page1 .middle img
{
  margin-left: -200px;
}

.page1 .middle .right h2 {
  background: -webkit-linear-gradient(#dbbd90, #b6996c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}

.page1 .middle .right .sale {
  max-width: 291px;
  display: block;
  margin: 0 0 0 auto;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.page1 .middle .right .sale span {
  font-size: 32px;
}

.page1 .middle .right .price {
  max-width: 291px;
  display: block;
  margin: 0 0 0 auto;
  text-align: center;
}

.page1 .middle .right .price span {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
}

.page1 .middle .right .price .old {
  font-size: 27px;
  color: #888888;
  position: relative;
}

.page1 .middle .right .price .old:before {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: red;

}

.page1 .middle .right .price .new {
  font-size: 34px;
  color: white;
}

.page1 .middle .right form {
  background: url("../img/form_bg.png") no-repeat;
  width: 291px;
  height: 319px;
  background-size: contain;
  padding: 35px 15px;
  margin-top: 18px;
  margin-bottom: 65px;
  position: relative;

}

.js_errorMessage {
  direction: ltr !important;
}

.page1 .middle .right form select,
.page1 .middle .right form input {
  display: block;
  width: 100%;
  padding: 12px 15px;
  border: none;
  margin-bottom: 13px;
  font-size: 18px;
  font-weight: normal;
}

.only_number {
  direction: ltr;
  text-align: right;
}

.page1 .middle .right form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select {
  background: #fff url("../img/arr.svg") no-repeat center left 15px;
  -webkit-background-size: 15px;
  background-size: 15px;
}

.page1 .middle .right form .btn {
  display: block;
  width: 100%;
  border: none;
  color: white;
  text-transform: uppercase;
  padding: 20px 10px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  position: absolute;
  left: 0;
  bottom: -90px;
  background: rgb(84, 242, 249);
  background: -moz-linear-gradient(top, rgba(84, 242, 249, 1) 0%, rgba(24, 161, 167, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(84, 242, 249, 1) 0%, rgba(24, 161, 167, 1) 100%);
  background: linear-gradient(to bottom, rgba(84, 242, 249, 1) 0%, rgba(24, 161, 167, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#54f2f9', endColorstr='#18a1a7', GradientType=0);
  border-bottom: 4px solid #0f6b6f;
  border-radius: 10px;
  z-index: 2;

}

.btn {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  cursor: pointer;
}

.btn:hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.page1 .middle .prod {
  position: absolute;
  top: 110px;
  left: 50%;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 430px;
}

.page1 .bottom {
  background: rgb(226, 196, 150);
  background: -moz-linear-gradient(top, rgba(226, 196, 150, 1) 0%, rgba(204, 172, 122, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(226, 196, 150, 1) 0%, rgba(204, 172, 122, 1) 100%);
  background: linear-gradient(to bottom, rgba(226, 196, 150, 1) 0%, rgba(204, 172, 122, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2c496', endColorstr='#ccac7a', GradientType=0);
  padding: 40px 0 25px;
  text-align: right;
}

.page1 .bottom .pack {
  color: white;
  text-transform: uppercase;
  font-size: 17px;
  position: relative;
  padding-left: 103px;
  letter-spacing: 1px;
  display: table;
  margin-right: auto;
}

.page1 .bottom .pack span {
  padding: 3px 5px;
  background: #937a54;
  border-radius: 5px;
}

.page1 .bottom .pack:before {
  content: '';
  width: 7px;
  height: 7px;
  background: #937a54;
  border-radius: 50%;
  position: absolute;
  right: -15px;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}

.page2 {
  background: url("../img/page2_bg.jpg") no-repeat center;
  background-size: cover;
  min-height: 935px;
  padding: 100px 0 100px;
  position: relative;
}

.page2 h1 {
  font-size: 36px;
  font-weight: bold;
  color: #383837;
  text-align: center;
  line-height: 45px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.page2 .section {
  max-width: 970px;
  width: 100%;
  background: white;
  padding: 50px 20px 50px 50px;
  border-radius: 15px;
  margin: 0 auto;
  font-size: 0;
  background: rgba(255, 255, 255, 0.8);
  position: relative;
  z-index: 2;
}

.page2 .section .text {
  display: inline-block;
  width: 66%;
  vertical-align: top;
}

.page2 .section p {
  font-size: 17px;
  color: #353535;
  line-height: 29px;
  font-weight: 500;
  position: relative;
  z-index: 1;
}

.page2 .section p.label {
  font-size: 20px;
  padding-right: 10px;
  margin-bottom: 25px;
  line-height: normal;
}

.page2 .section .cup {
  float: right;
  max-width: 239px;
  top: 10px;
  left: 82px;
  margin-left: -75px;
  position: relative;
}

.page2 .section .prod {
  display: inline-block;
  vertical-align: top;
  width: 34%;
}

.page2 .section .prod img {
  width: 127%;
  position: relative;
  left: -10px;
}

.page2 .cup2 {
  position: absolute;
  bottom: -120px;
  left: -320px;
}

.page2 .meter {
  position: absolute;
  left: 0;
  bottom: 0;
}

.page2 .photo {
  position: absolute;
  right: -265px;
  top: 202px;
}

.page3 {
  background: #56f5fc;
  padding: 20px 0 0;
  font-size: 0;
}

.page3 .left {
  display: inline-block;
  vertical-align: middle;
  width: 56%;
  text-align: center;
  font-size: 1rem;
}


.page3 .img_cont img {
  position: relative;
  width: 100%;
  z-index: 2;
  border-radius: 4px;
}

.page3 .bottom {
  font-size: 1rem;
  padding: 87px 26px;
  width: 64%;

}

.page3 .bottom h1 {
  font-size: 37px;
  line-height: 47px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  padding: 0 56px 0 25px;
  letter-spacing: 1px;
  margin-bottom: 36px;
  color: #303030;
}

.page3 .bottom h1 span {
  display: block;
}

.page3 .bottom p {
  font-size: 17px;
  line-height: 28px;
  font-weight: 600;
  color: #303030;
}

.al_right {
  text-align: right;
  position: relative;
}

.page3 .bottom .prod {
  margin: 60px 0 50px;
  max-width: 558px;
  width: 100%;
  color: black;
  position: relative;
  right: 11px;
  z-index: 1;
}

.page3 .bottom .cup {
  position: absolute;
  top: 253px;
  left: -78px;
}

.page3 .girl {
  position: absolute;
  left: -175px;
  bottom: 0;
}

.page4 {
  background: url("../img/page4_bg.jpg") no-repeat center;
  background-size: cover;
  min-height: 883px;
  padding: 55px 0;
}

.page4 .content {
  max-width: 1138px;
}

.page4 .left {
  max-width: 478px;
  width: 100%;
  margin-right: auto;
}

.page4 .left h1 {
  font-weight: 900;
  font-size: 65px;
  line-height: 71px;
  color: white;
  margin-bottom: 70px;
}

.page4 .left h1 span {
  font-size: 46px;
  font-weight: bold;
}

.page4 .left .list {
  background: white;
  border-radius: 15px;
  padding: 47px 5px;
}

.page4 .left .list li {
  color: #343434;
  margin-bottom: 36px;
  position: relative;
  min-height: 75px;
  font-size: 0;
}

.page4 .left .list li:last-child {
  margin-bottom: 0;
}

.page4 .left .list li .img_cont {
  display: inline-block;
  vertical-align: middle;
  width: 24%;
  text-align: center;

}

.page4 .left .list li p {
  display: inline-block;
  vertical-align: middle;
  width: 76%;
  font-size: 16px;
  padding-left: 25px;

}

.page4 .cup {
  position: absolute;
  top: 245px;
  left: 507px;
  max-width: 415px;
  width: 100%;
}

.page4 .prod {
  top: 80px;
  right: -319px;
  position: absolute;
  max-width: 668px;
}

.page5 {
  background: url("../img/page5_bg.png") no-repeat center;
  background-size: cover;
  min-height: 808px;
  margin: -140px auto;
  padding: 212px 0 120px;
  text-align: right;
  position: relative;
  z-index: 1;
}

.page5 .right {
  max-width: 640px;
  width: 100%;
  display: inline-block;
  text-align: right;
  padding: 90px 25px 20px;
}

.page5 .right h1 {
  font-size: 34x;
  line-height: 43px;
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.page5 .right h2 {
  color: #dbbd90;
  font-size: 25px;
}


.page5 .prod {
  position: absolute;
  left: -144px;
  top: -100px;
  max-width: 745px;
  width: 100%;
}


.page6 {
  padding: 160px 0 90px;
  border-bottom: 5px solid #1d7a99;
}

.page6 h1 {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #383837;
  line-height: 31px;
  text-transform: uppercase;
  max-width: 770px;
  margin: 0 auto 65px;
}

.page6 .list {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.page6 .list li {
  display: inline-block;
  width: 23%;
  max-width: 205px;
  margin-left: 2%;
  font-size: 14px;
  vertical-align: top;
  color: #595959;

}

.page6 .list li img {
  width: 100%;
  margin-bottom: 8px;
}

.page6 .list li:last-child {
  margin-right: 0;
}

.page7 {
  padding: 0 0 75px;
  position: relative;
}

.page7 .logo {
  max-width: 560px;
  width: 100%;
  padding: 15px 25px;
  background: white;
  font-size: 0;
  margin: -85px auto 40px;
}

.page7 .logo .left,
.page7 .logo .right {
  display: inline-block;
  vertical-align: middle;
}

.page7 .logo .left {
  padding-right: 5px;
  width: 65%;
}

.page7 .logo .right {
  padding-left: 5px;
  width: 35%;
}

.page7 .logo .left p {
  display: inline-block;
  vertical-align: middle;
  width: 45%;
  font-size: 16px;
  color: #1d7a99;
  font-weight: bold;
  padding-left: 5px;
}

.page7 .logo .left .img_cont {
  display: inline-block;
  vertical-align: middle;
  width: 55%;
  text-align: center;

}

.page7 .logo .left .img_cont img {
  max-width: 140px;
}

.page7 .logo .right p {
  color: black;
  font-size: 16px;
}

.page7 .logo .right .color {
  color: #1d7a99;
  text-transform: uppercase;
  font-weight: bold;
}

.page7 h1 {
  font-size: 30px;
  line-height: 42px;
  font-weight: bold;
  color: #383837;
  margin-bottom: 62px;
  text-align: center;
  text-transform: uppercase;

}

.page7 .slider {
  margin: 0 auto;
  position: relative;
  display: block;
  max-width: 1060px;
  width: 100%;
}

.page7 .slider .item {
  border: 1px solid #36a3bb;
  font-size: 0;
  padding: 85px 50px;
}

.page7 .slider .item .left {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  padding: 0 10px;
}

.page7 .slider .item .left img {
  width: 100%;
  max-width: 340px;
}

.page7 .slider .item .right {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  font-size: 17px;
  color: #3f3f3f;
  padding: 0 10px;
  position: relative;
  text-align: right;
}

.page7 .slider .item .label {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  padding-top: 25px;
  padding-right: 20px;
  position: relative;
  margin-bottom: 10px;
}

.page7 .slider .item .label:before {
  content: '';
  background: url("../img/quote.png") no-repeat;
  width: 49px;
  height: 39px;
  position: absolute;
  left: 2px;
  top: -25px;
}

.page7 .slider .item .name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 18px;
}

.page7 .slider .item .name span {
  color: #36a3bb;
}

.page7 .slider .item .line {
  width: 100%;
  height: 1px;
  background: #1f989d;
  position: relative;
  margin-bottom: 37px;
}

.page7 .slider .item .line:before {
  content: '';
  width: 15px;
  height: 15px;
  background: #1f989d;
  position: absolute;
  left: 0;
  top: 0;
}

.page7 .slider .item .text {
  line-height: 27px;
}

.page7 .slider .bottom {
  margin-top: 70px;
}

.page7 .slider .bottom .list li {
  display: inline-block;
  width: 33%;
  text-align: center;
  vertical-align: top;
}

.page7 .slider .bottom .list li img {
  max-width: 280px;
  width: 100%;
}

.page7 .slider .slick-prev {
  background: url("../img/prev.jpg") no-repeat;
  width: 61px;
  height: 61px;
  left: -28px;
  top: 115px;
  z-index: 1;
}

.page7 .slider .slick-next {
  background: url("../img/next.jpg") no-repeat;
  width: 61px;
  height: 61px;
  right: -28px;
  top: 115px;
  z-index: 1;
}

.page8 {
  background: url("../img/page8_bg.jpg") no-repeat center;
  background-size: cover;
  min-height: 598px;
  padding: 48px 0;
}

.page8 .content {
  max-width: 1266px;
}

.page8 h1 {
  font-size: 33px;
  margin-bottom: 57px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.page8 .list {
  text-align: center;
}

.page8 .list li {
  display: inline-block;
  vertical-align: top;
  width: 32%;
  position: relative;
}

.page8 .list li:before {
  content: '';
  background: url("../img/page8_arrow.png") no-repeat;
  width: 38px;
  height: 37px;
  position: absolute;
  left: -29px;
  top: 120px;
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
  animation: animate2 4s linear infinite;
}

.page8 .list li:last-child:before {
  display: none;
  animation: animate2 4s linear infinite;
}

@keyframes animate2{
	0%,100%
	{
		transform: translateX(10px);
	}
	50%
	{
		transform: translateX(-10px);
	}
}

.page8 .list li img {
  width: 265px;
  height: 265px;
  display: block;
  border-radius: 50%;
  margin: 0 auto 13px;
  animation: animate1 4s linear infinite;
}

@keyframes animate1{
	0%,100%
	{
		transform: translateY(10px);
	}
	50%
	{
		transform: translateY(-10px);
	}
}

.page8 .list li p {
  max-width: 250px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  margin: 0 auto;
}

.page9 .background {
  background: url("../img/page9_bg.jpg") no-repeat center;
  background-size: cover;
  min-height: 828px;
  padding: 37px 0 0;
  font-size: 0;
  position: relative;
}

.page9 h1 {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  color: #434343;
  max-width: 876px;
  line-height: 41px;
  margin: 0 auto 2px;
}

.page9 h2 {
  text-align: center;
  font-size: 24px;
  line-height: 39px;
  margin-bottom: 10px;
}

.page9 .left,
.page9 .right {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  position: relative;
}

.page9 .left {
  text-align: right;
  padding-top: 20px;
}

.page9 .left .prod {
  max-width: 492px;
  width: 100%;
  position: relative;
  right: 12px;
}

.page9 .left .section {
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
}

.page9 .left .section .symbol {
  margin: 0 auto;
  max-width: 100%;
}

.page9 .left .section h2 {
  background: -webkit-linear-gradient(#dbbd90, #b6996c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  margin: 10px 0 20px;
  font-weight: bold;
  line-height: normal;
}

.page9 .left .section .sale {
  font-size: 22px;
  color: #393939;
  font-weight: bold;
}

.page9 .left .section .sale span {
  font-size: 32px;
}

.page9 .left .section .price {
  text-align: center;
}

.page9 .left .section .price span {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
}

.page9 .left .section .price .old {
  font-size: 20px;
  color: #393939;
  position: relative;
}

.page9 .left .section .price .old:before {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: red;

}

.page9 .left .section .price .new {
  font-size: 34px;
  color: #36a3bb;
}

.page9 .left .cup {
  position: absolute;
  top: 279px;
  right: -165px;
  max-width: 356px;

}

.page9 .right {
  color: #434343;
  padding-top: 12px;
  padding-left: 7px;
  position: relative;
}

.page9 .right h2 {
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 15px;
  text-align: left;
  position: relative;
  right: 25px;
}

.page9 .right form {
  background: url("../img/form_bg.png") no-repeat;
  width: 291px;
  height: 319px;
  background-size: contain;
  padding: 35px 15px;
  margin-top: 18px;
  margin-bottom: 65px;
  position: relative;
}

.page9 .right form select,
.page9 .right form input {
  display: block;
  width: 100%;
  padding: 12px 15px;
  border: none;
  margin-bottom: 13px;
  font-size: 18px;
  font-weight: normal;
}

.page9 .right form .btn {
  display: block;
  width: 100%;
  border: none;
  color: white;
  text-transform: uppercase;
  padding: 20px 10px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  position: absolute;
  left: 0;
  bottom: -90px;
  background: rgb(84, 242, 249);
  background: -moz-linear-gradient(top, rgba(84, 242, 249, 1) 0%, rgba(24, 161, 167, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(84, 242, 249, 1) 0%, rgba(24, 161, 167, 1) 100%); 
  background: linear-gradient(to bottom, rgba(84, 242, 249, 1) 0%, rgba(24, 161, 167, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#54f2f9', endColorstr='#18a1a7', GradientType=0);
  border-bottom: 4px solid #0f6b6f;
  border-radius: 10px;
  z-index: 22;

}

.page9 .right .content {
  max-width: 350px;
  margin: 0;
}

.page9 .right .list {
  margin-bottom: 37px;
}

.page9 .right .list li {
  margin-bottom: 5px;
  font-size: 17px;
  position: relative;
}

.page9 .right .list li:before {
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #36a3bb;
  position: absolute;
  right: -23px;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}

.page9 .girl {
  position: absolute;
  right: 50%;
  bottom: -80px;
  margin-right: 300px;
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
  animation: animate 4s linear infinite;
}

.page9 .bottom {
  background: rgb(226, 196, 150); 
  background: -moz-linear-gradient(top, rgba(226, 196, 150, 1) 0%, rgba(204, 172, 122, 1) 100%); 
  background: -webkit-linear-gradient(top, rgba(226, 196, 150, 1) 0%, rgba(204, 172, 122, 1) 100%); 
  background: linear-gradient(to bottom, rgba(226, 196, 150, 1) 0%, rgba(204, 172, 122, 1) 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2c496', endColorstr='#ccac7a', GradientType=0); 
  padding: 23px 0;
  font-size: 0;
  position: relative;
  z-index: 11;
}

.page9 .bottom .left,
.page9 .bottom .right {
  padding: 0;
  text-align: left;
  vertical-align: middle;
}

.page9 .bottom .left .list li {
  display: inline-block;
  vertical-align: middle;
  color: white;
  position: relative;
  padding-left: 50px;
  max-width: 400px;
  padding-right: 20px;
}

.page9 .bottom .left .list li:nth-of-type(1):before {
  content: '';
  background: url("../img/page9_item1.png") no-repeat;
  width: 44px;
  height: 23px;
  position: absolute;
  left: 0;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.page9 .bottom .left .list li:nth-of-type(2):before {
  content: '';
  background: url("../img/page9_item2.png") no-repeat;
  width: 34px;
  height: 34px;
  position: absolute;
  left: 0;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.page9 .bottom .pack {
  color: white;
  text-transform: uppercase;
  font-size: 17px;
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
}

.page9 .bottom .pack span {
  padding: 3px 5px;
  background: #937a54;
  border-radius: 5px;
}

.page9 .bottom .pack:before {
  content: '';
  width: 7px;
  height: 7px;
  background: #937a54;
  border-radius: 50%;
  position: absolute;
  left: -15px;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

footer {
  display: block;
  background: white;
  text-align: center;
  padding: 20px 0;
  color: #414141;
  font-size: 14px;
  line-height: 20px;
}

footer
{
  direction: ltr;
	position: relative;
	width: 100%;
	height: auto;
	padding: 50px 100px;
	background: #111;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
footer .cont
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: row;
}
footer .cont .sec
{
	margin-right: 30px;
}
footer .cont .sec.aboutus
{
	width: 40%;
}
footer h2
{
	position: relative;
	color: #fff;
	font-weight: 600;
	margin-bottom: 15px;
  font-size: 24px;
}
footer p
{
	color: #999;
  font-size: 17px;
}
.sci
{
	margin-top: 20px;
  margin-right: 120px;
	display: flex;
}
.sci li
{
	list-style: none;
}
.sci li a
{
	display: inline-block;
	width: 40px;
	height: 40px;
	background: #222;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	text-decoration: none;
	border-radius: 5px;
	transition: 0.5s ease-in-out;
}
.sci li a:hover
{
	background: #36a3bb;
	box-shadow: 0 0 5px #36a3bb,
				0 0 25px #36a3bb,
				0 0 50px #36a3bb,
				0 0 200px #36a3bb;
}
.sci li a .fa
{
	color: #fff;
	font-size: 20px;
}
.quicklinks
{
	position: relative;
	width: 25%;
}
.quicklinks ul li
{
	list-style: none;
}
.quicklinks ul li a
{
	color: #999;
	text-decoration: none;
	margin-bottom: 10px;
	display: inline-block;
	transition: 0.5s;
  font-size: 17px;
}
.quicklinks ul li a:hover
{
	color: #fff;
}
.contact
{
	width: calc(35% - 60px);
	margin: 0 !important;
}
.contact .info
{
	position: relative;
}
.contact .info li
{
	display: flex;
	margin-bottom: 16px;
}
.contact .info li span:nth-child(1)
{
	color: #fff;
	font-size: 20px;
	margin-right: 10px;
}
.contact .info li span
{
	color: #999;
}
.contact .info li a
{
	color: #999;
	text-decoration: none;
	transition: 0.5s;
}
.contact .info li a:hover
{
	color: #fff;
}
.copyrightText 
{
	width: 100%;
	background: #181818;
	padding: 8px 100px;
	text-align: center;
	color: #999;
}
/*******************************************************************************************************/


@media screen and (max-width: 1200px) {
  .page7 .slider .slick-next {
    right: 0;
  }

  .page7 .slider .slick-prev {
    left: 0;
  }
}

br.mob {
  display: none;
}

@media screen and (max-width: 1200px) {
  .page4 .prod {
    right: -110px;
  }

  .page9 .girl {
    margin-right: 225px;
  }

  .page4 .cup {
    display: none;
  }

  .page3 .right {
    padding-left: 30px;
  }

  .page1 .top .list li {
    padding-right: 30px;
  }

  .page3 .bottom .prod {
    right: -40px;
  }
  
  br.mob {
    display: block;
  }
}

@media screen and (max-width: 990px) {

  br.mob {
    display: block;
  }

  .content {
    max-width: 320px;
  }

  .block {
    min-height: 0;
    padding-top: 20px;
  }

  .page1 .bg_cont {
    background: rgb(48, 48, 48);
    background: -moz-linear-gradient(left, rgba(48, 48, 48, 1) 0%, rgba(70, 70, 70, 1) 50%, rgba(48, 48, 48, 1) 100%); 
    background: -webkit-linear-gradient(left, rgba(48, 48, 48, 1) 0%, rgba(70, 70, 70, 1) 50%, rgba(48, 48, 48, 1) 100%); 
    background: linear-gradient(to right, rgba(48, 48, 48, 1) 0%, rgba(70, 70, 70, 1) 50%, rgba(48, 48, 48, 1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#303030', endColorstr='#303030', GradientType=1);
  }

  .page1 .top {
    display: none;
  }

  .page1 .middle .left {
    display: block;
    width: 100%;
    padding: 0;
  }

  .page1 .middle .prod {
    position: static;
    display: block;
    width: 100%;
    margin: 0 auto;
    -moz-transform: none;
    -webkit-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
    max-width: 300px;
  }

  .page1 .middle .right {
    display: block;
    width: 100%;
    padding: 0;
  }

  .page1 .middle .left .section {
    margin: 10px auto;
  }

  .page1 .middle .left .list {
    margin: 20px auto;
  }

  .page1 .middle .right form {
    margin: 0 auto;
  }

  .page1 .middle .right h2 {
    margin-bottom: 0;
  }

  .page1 .middle .right form .btn {
    bottom: -20px;
  }

  .page1 .bottom {
    text-align: center;
  }

  .page1 .bottom .pack {
    padding: 0;
  }

  .page1 .bottom {
    text-align: center;
  }

  .page1 .bottom .pack {
    max-width: none;
    width: 100%;
    padding: 0 10px;
    text-align: center;
  }

  .page2 {
    padding: 20px 0;
  }

  .page2 .photo {
    display: none;
  }

  .page2 .meter {
    display: none;
  }

  .page2 .cup2 {
    display: none;
  }

  .page2 .sectiion .cup {
    display: none;
  }

  .page2 .sectiion .text {
    display: block;
    width: 100%;
  }

  .page2 .sectiion .prod {
    display: block;
    width: 100%;
  }

  .page2 .sectiion .prod img {
    width: 100%;
    max-width: 300px;
    left: 0;
    margin: 10px auto;
  }

  .page2 h1 {
    margin-bottom: 20px;
  }

  .page3 .left {
    display: block;
    width: 100%;
  }

  .page3 .right {
    display: block;
    width: 100%;
    padding: 10px;
  }

  .page3 .slick-dots {
    position: static;
    display: block;
    margin: 10px auto;
    text-align: center;
  }

  .page3 .slider {
    padding: 10px 0;
  }

  .page3 .girl {
    display: none;
  }

  .page3 .bottom {
    width: 100%;
    padding: 10px;
  }

  .page3 .left .img_cont {
    padding: 0 30px;
  }

  .page3 .slick-next {
    right: 0;
    top: 270px;
  }

  .page3 .slick-prev {
    left: 0;
    top: 270px;
  }

  .page3 .bottom .cup {
    display: none;
  }

  .page3 .bottom .symbol {
    display: none;
  }

  .page3 .bottom .prod {
    max-width: 300px;
    width: 100%;
    margin: 20px auto;
    right: 0;
    display: block;
  }

  .page4 .prod {
    display: none;
  }

  .page4 .left {
    margin: 0 auto;
  }

  .page4 {
    padding: 20px 0;
  }

  .page4 .left h1 {
    margin-bottom: 20px;
  }

  .page5 {
    margin: 0 auto;
    padding: 20px 0;
    background: rgb(48, 48, 48);
    background: -moz-linear-gradient(left, rgba(48, 48, 48, 1) 0%, rgba(70, 70, 70, 1) 50%, rgba(48, 48, 48, 1) 100%); 
    background: -webkit-linear-gradient(left, rgba(48, 48, 48, 1) 0%, rgba(70, 70, 70, 1) 50%, rgba(48, 48, 48, 1) 100%); 
    background: linear-gradient(to right, rgba(48, 48, 48, 1) 0%, rgba(70, 70, 70, 1) 50%, rgba(48, 48, 48, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#303030', endColorstr='#303030', GradientType=1); 
  }

  .page5 .prod {
    position: static;
    max-width: 300px;
    width: 100%;
    margin: 10px auto;
    display: block;
  }

  .page6 .list li {
    width: 50%;
    margin-bottom: 20px;
  }

  .page6 h1 {
    margin-bottom: 20px;
  }

  .page7 .mark {
    display: none;
  }

  .page7 {
    padding: 20px 0;
  }

  .page7 h1 {
    margin-bottom: 20px;
  }

  .page7 .slider .bottom {
    display: none;
  }

  .page7 .slider .item {
    padding: 10px;
  }

  .page7 .slider .item .left {
    display: block;
    width: 100%;
  }

  .page7 .slider .item .right {
    display: block;
    width: 100%;
  }

  .page7 .slider .item .label:before {
    display: none;
  }

  .page7 .slider .item .left img {
    display: block;
    margin: 0 auto;
    max-width: 280px;
  }

  .page8 {
    padding: 20px 0;
    background: rgb(48, 48, 48); 
    background: -moz-linear-gradient(left, rgba(48, 48, 48, 1) 0%, rgba(70, 70, 70, 1) 50%, rgba(48, 48, 48, 1) 100%); 
    background: -webkit-linear-gradient(left, rgba(48, 48, 48, 1) 0%, rgba(70, 70, 70, 1) 50%, rgba(48, 48, 48, 1) 100%); 
    background: linear-gradient(to right, rgba(48, 48, 48, 1) 0%, rgba(70, 70, 70, 1) 50%, rgba(48, 48, 48, 1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#303030', endColorstr='#303030', GradientType=1); 
  }

  .page8 .list li:before {
    display: none;
  }

  .page8 .list li {
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }

  .page8 h1 {
    margin-bottom: 20px;
  }

  .page8 .list li img {
    width: 170px;
    height: 170px;
  }

  .page9 .bg_cont {
    padding: 20px 0;
  }

  .page9 .left .cup {
    display: none;
  }

  .page9 .girl {
    display: none;
  }

  .page9 .left {
    display: block;
    width: 100%;
  }

  .page9 .left .prod {
    max-width: 300px;
    margin: 0 auto;
    display: block;
  }

  .page9 .right {
    display: block;
    width: 100%;
    padding: 0;
  }

  .page1 .middle .right .sale,
  .page1 .middle .right .price {
    width: 100%;
    max-width: none;
  }

  .page9 .right .content {
    max-width: 100%;
  }

  .page9 .right h2 {
    right: 0;
  }

  .page9 .right .list {
    padding-right: 37px;
    margin-bottom: 20px;
  }

  .page9 .right form {
    margin: 20px auto;
  }

  .page9 .right form .btn {
    bottom: -20px;
  }

  .page9 .bottom .left {
    display: none;
  }

  .page9 .bottom .right {
    text-align: center;
  }
}

@media screen and (max-width: 990px) {
  .page1 .middle .left h1 {
    font-size: 48px;
    text-align: center;
  }

  .content {
    padding: 0 5px;
  }

  .page1 .middle .left h2 span,
  .page1 .middle .left h2 {
    font-size: 24px;
    text-align: center;
  }

  .page1 .middle .left .list li {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .page1 .middle .left .sectiion {
    font-size: 18px;
  }

  .page1 .bottom .pack {
    font-size: 15px;
  }

  .page3 .right .comm {
    font-size: 16px;
    line-height: 20px;
  }

  .page3 .right .name {
    font-size: 18px;
  }

  .page3 .right .info.work {
    font-size: 16px;
  }

  .page3 .right .info {
    font-size: 16px;
  }

  .page3 .slick-dotted.slick-slider {
    margin-bottom: 0;
  }

  .page3 .bottom h1 {
    font-size: 24px;
    line-height: normal;
    margin-bottom: 20px;
    padding: 0;
  }

  .page3 .bottom p {
    font-size: 16px;
    line-height: 20px;
  }

  .page4 .left h1 span {
    font-size: 24px;
    display: block;
  }

  .page4 .left h1 {
    font-size: 30px;
    line-height: normal;
  }

  .page4 .left .list li p {
    padding: 0 8px;
    font-size: 15px;
    line-height: 19px;
  }

  .page5 .right {
    padding-top: 10px;
  }

  .page5 .right h1 {
    font-size: 24px;
    line-height: normal;
  }

  .page5 .right .list {
    padding: 0;
  }

  .page5 .right .list li {
    font-size: 16px;
    line-height: 20px;
  }

  .page2 h1 {
    font-size: 24px;
    line-height: normal;
  }

  .page2 .sectiion {
    padding: 10px;
  }

  .page2 .sectiion p.label {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .page2 .sectiion p {
    font-size: 16px;
    line-height: 20px;
  }

  .page6 h1 {
    font-size: 24px;
    line-height: normal;
  }

  .page6 .list li {
    display: block;
    width: 100%;
    margin: 0 auto 15px;
  }

  .page6 .list li:last-child {
    margin: 0 auto 15px;
  }

  .page7 h1 {
    font-size: 24px;
    line-height: normal;
  }

  .page7 .slider .item .label {
    padding: 0;
    font-size: 18px;
    margin: 10px auto;
  }

  .page7 .slider .item .name {
    font-size: 16px;
  }

  .page7 .slider .item .text {
    font-size: 16px;
    line-height: 20px;
  }

  .page7 .slider .item {
    margin-bottom: 15px;
  }

  .page8 h1 {
    font-size: 24px;
    line-height: normal;
  }

  .page8 .list li p {
    font-size: 16px;
    line-height: 20px;
  }

  .page8 .list li img {
    margin-bottom: 5px;
  }

  .page9 h1 {
    font-size: 24px;
    line-height: normal;
  }

  .page9 h2 {
    font-size: 18px;
    line-height: normal;
  }

  .page9 .right h2 {
    font-size: 18px;
    line-height: normal;
  }

  .page9 .right .list li {
    font-size: 16px;
    line-height: normal;
  }

  .page1 .bottom .pack:before {
    display: none;
  }

  .page9 .right .content {
    padding: 0;
  }

  .page9 .bottom .pack:before {
    display: none;
  }

  .page9 .bottom .pack {
    font-size: 15px;
  }
  footer .cont .sec .sci
  {
    margin-top: 100px;
  }
  footer .contact .info a
  {
    max-width: 20px;
  }
}